.titleText {
	font-size: clamp(48px, 8vw, 72px);
	-webkit-text-fill-color: #FF5599;
	-webkit-text-stroke: 3px #FFFFFF;
	font-family: "Comic Sans MS";
	font-weight: bold;
	text-align: center;
	margin: 0 0 0 0;
	padding-bottom: 8px;
}

.galleryContainer {
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: auto auto auto auto auto auto;
}

.galleryContainer img {
  vertical-align: middle;
  width: 95%;
  border-radius: 8px;
}
.galleryContainer img:hover {
	filter: brightness(0.8);
}

@media screen and (max-width: 1200px) {
  .galleryContainer {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-width: 1000px) {
  .galleryContainer {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 800px) {
  .galleryContainer {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .galleryContainer {
    grid-template-columns: auto auto;
  }
}

